/* Basic Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: linear-gradient(to right, #ff7e5f, #feb47b);
}



header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 3em;
}

/* Flexbox for Projects Grid */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    flex: 1 1 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.project-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}


/* Skills Section */
#skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 2em;
    background-color: #333;
    color: white;
}
footer i {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

footer i:hover {
    color: #1da1f2; /* Change color on hover */
}


/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .projects-grid {
        flex-direction: column;
    }
}
/* Background color for the About section */
#about {
    background-color: #e0f7fa; /* Light blue */
    padding: 50px;
}

/* Background color for the Projects section */
#projects {
    background-color: #ffffff; /* White */
    padding: 50px;
}

/* Background color for the Skills section */
#skills {
    background-color: #ffe0b2; /* Light orange */
    padding: 50px;
}

/* Background color for the Contact section */
#contact {
    background-color: #f8bbd0; /* Light pink */
    padding: 50px;
}
